@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.sidebarOpen ~ body {
  margin-left: 250px; /* ajuste conforme o tamanho do menu lateral aberto */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1400px) {
  .player-video {
    width: 55%;
  }

  .description-music {
    padding-left: 18vw;
  }
}