@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-top-rgb: 0, 0, 0, .5;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: 
    linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-top-rgb)), rgb(var(--background-end-rgb))
    ),
    url('https://s2-memoriaglobo.glbimg.com/poSZ1POQJ-zx9Rau-k3WjYw78Pw=/0x0:2048x1152/1080x608/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_ee6202d7f3f346a7a5d7affb807d8893/internal_photos/bs/2022/6/B/7cAybAQmagXiGLI8gBGQ/20130523-jm-flor-do-caribe-70007.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sidebarOpen ~ body {
  margin-left: 250px; /* ajuste conforme o tamanho do menu lateral aberto */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1400px) {
  .player-video {
    width: 55%;
  }

  .description-music {
    padding-left: 18vw;
  }
}